@import url("@/assets/var.less");
@import url("@/assets/function.less");

.user-card {
  display: flex;
  align-items: center;
  width: 100%;

  .user-avatar {
    flex: 0 0 auto;
    margin-right: .5rem;

    img {
      width: 64px;
      height: 64px;
      border: 4px solid @theme-color;
      border-radius: 50%;
    }
  }

  .user-name {
    flex: 1 0 auto;
    .shadow-text();
  }

  .user-logout {
    flex: 0 0 auto;
  }
}
